{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
        <li class="breadcrumb-item"><a  href="{% url 'core:index' %}" >Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a  href="{% url 'core:personelmain' %}" >Haberler</a></li>
        <li class="breadcrumb-item passive">Haber Bakımı</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <form method="post" action="" enctype="multipart/form-data">
                                {{form|as.p}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

                                
   

{% endblock content %}